<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="index">
	

	<main class="" id="main-collapse">


	<div class="row" layout:fragment="contenido"> 
		<div class="col-xs-12">
			<div class="section-container-spacer">
				<h1>Articulos</h1>
				<p>Realiza las tortas mas divertidas con los moldes que mas te
					gusten</p>
				<p>Puedes tambien tener cortantes y otros utencillos que te
					ayuden a decorarlas</p>
				<h2>Moldes de tortas</h2>
				<ul>
					<li>Descartables
						<ul>
							<li>Porta Torta</li>
							<li>Tortera Contenedor Porta Torta</li>
							<li>Cajas para mini tortas</li>
							<li>Tiras cubre tortas</li>
						</ul>
					</li>
				</ul>



				<h2>Metalicos</h2>
				<ul>
					<li>Enteros
						<ul>
							<li>Redondos</li>
							<li>Cuadrados</li>
							<li>Mikey</li>
							<li>Princesas</li>
							<li>Corazon</li>
							<li>Estreya</li>
							<li>Flor</li>
						</ul>
					</li>
				</ul>
				<!--  poner base de datos moldes -->
				<h2>CONSULTAR POR OTROS ACCESORIOS!</h2>



				<!-- esto te permite hacer un enter y seguir en el reglon de abajo (( <br></br> )) -->
			
			</div>
			<a href="./contacto.html" class="btn btn-primary" title="">
				Consultar</a>

		</div>
	</div>


	</main>

	<script>
		document.addEventListener("DOMContentLoaded", function(event) {
			navbarToggleSidebar();
			navActivePage();
		});
	</script>

	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

-->
	<script type="text/javascript" src="./main.85741bff.js"></script>

</html>