<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="index">


	<main class="" id="main-collapse">


	<div class="row" layout:fragment="contenido"> 
		<div class="col-xs-12">
			<div class="section-container-spacer">
				<h1>Articulos</h1>
				<p>Solicita entre nuestros distintos articulos los modelos que
					mas te gusten</p>
				<h2>Figuras</h2>
				<ul>
					<li>Porcelana
						<ul>
							<li>Bautismos</li>
							<li>Animados</li>
							<li>feliz cumpleaños</li>
							<li>Fotos infantiles</li>
						</ul>
					</li>
				</ul>



				<h2>Pasta Comestible</h2>
				<ul>
					<li>Disney
						<ul>
							<li>Redondos</li>
							<li>Cuadrados</li>
							<li>Mikey</li>
							<li>Princesas</li>
							<li>Corazon</li>
							<li>Estreya</li>
							<li>Flor</li>
						</ul>
					</li>
				</ul>
				<!--  poner base de datos moldes -->
				<h2>CONSULTAR POR OTROS ACCESORIOS!</h2>



				<!-- esto te permite hacer un enter y seguir en el reglon de abajo (( <br></br> )) -->

			</div>
			<a href="./contacto.html" class="btn btn-primary" title="">
				Consultar</a>

		</div>
	</div>


	</main>



</html>